.scorecard {
  background-color: #247ba0;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 0;
}
.scores {
  display: flex;
  grid-column-gap: 1.5rem;
  column-gap: 1.5rem;
  margin: 0 auto;
  justify-content: center;
  font-size: 1.6rem;
  padding-top: 1rem;
}

.single-score {
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  text-align: left;
}

.city-name {
  overflow: hidden;
  max-width: 4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.guessed-score {
  font-weight: 600;
  margin: 0;
  font-size: 1.4rem;
}

.correct-score {
  margin: 0.5rem 0 0 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #0b133c;
}

.green {
  color: green;
  background-color: #fdfffc;
}
.red {
  color: #e71d36;
  background: #cfdbd5;
}
