.scores {
  display: flex;
  column-gap: 20px;
  margin: 0 auto;
  justify-content: center;
  font-size: 16px;
  border-top: 2px solid gray;
  padding-top: 10px;
}

.single-score.green {
  color: green;
}

p.city-name {
  overflow: hidden;
  max-width: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

p.guessed-score {
  font-weight: 600;
  margin: 0;
}

.red {
  color: red;
}

p.correct-score {
  margin: 5px 0 0 0;
}
